# Система
.DS_Store
.vscode/
.idea/
*.swp
__pycache__/
*.pyc

# MLOps артефакты (НЕ коммитируем)
mlruns/
mlartifacts/
mlflow.db
*.pkl
*.pickle
.dvc.lock

# Data (большие файлы управляются через DVC)
data/processed/
data/chunks/
data/models/

# Виртуальные окружения
venv/
env/
.venv
env
.env

# IDE
*.swp
*.swo
*~
.vscode
.idea

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db
/data
/chroma_langchain_db

gdrive_key.json
gdrive_oauth_key.json